 .u-section-1 {
  min-height: 731px;
  background-image: url("images/f11de0f4-f885-ea85-b5cd-4a7f2abced16.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 731px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0 60px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "PT Sans", sans-serif;
  margin: 83px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 18px 156px 0 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/-min.jpg");
  background-position: 0% 50%;
  min-height: 731px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 475px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 73px;
  }

  .u-section-1 .u-image-1 {
    min-height: 603px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 535px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 535px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 566px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 140px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 671px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 75px;
  }

  .u-section-1 .u-image-1 {
    min-height: 433px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 784px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 89px -11px 31px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 664px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-shape-1 {
  width: 406px;
  height: 406px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 427px;
  height: 427px;
  background-image: url("images/wef-min.jpg");
  background-position: 50% 50%;
  margin: -498px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 142px;
  height: 54px;
  margin: 83px auto -92px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 681px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 17px 187px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-2 .u-shape-1 {
    width: 341px;
    margin-top: 93px;
  }

  .u-section-2 .u-image-1 {
    width: 380px;
    height: 380px;
    margin-top: -433px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 69px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-2 .u-shape-1 {
    width: 257px;
    height: 300px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: -349px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 38px;
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 630px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-shape-1 {
    width: 327px;
    margin-top: 75px;
  }

  .u-section-2 .u-image-1 {
    width: 377px;
    height: 377px;
    margin-top: -402px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 45px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-2 .u-shape-1 {
    width: 272px;
    margin-right: -12px;
  }

  .u-section-2 .u-image-1 {
    width: 311px;
    height: 311px;
    margin-top: -347px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 67px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 872px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 764px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-shape-1 {
  width: 165px;
  height: 52px;
  margin: 100px 0 0 auto;
}

.u-section-3 .u-text-1 {
  line-height: 1.2;
  font-family: Raleway, sans-serif;
  font-size: 3.75rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 764px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  width: 542px;
  height: 542px;
  background-image: url("images/gfg-min.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 218px;
  height: 68px;
  margin: -96px 0 28px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 630px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-3 .u-image-1 {
    width: 459px;
    height: 459px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -68px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 627px;
  }

  .u-section-3 .u-image-1 {
    width: 349px;
    height: 349px;
  }

  .u-section-3 .u-shape-2 {
    width: 165px;
    height: 51px;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 4px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 92px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 657px;
  }

  .u-section-3 .u-image-1 {
    width: 505px;
    height: 505px;
    margin-left: 16px;
  }

  .u-section-3 .u-shape-2 {
    width: 235px;
    height: 73px;
    margin-top: -114px;
    margin-bottom: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 152px;
    height: 47px;
    margin-top: -62px;
    margin-bottom: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-style: normal;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 142px;
  height: 54px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-4 .u-text-1 {
    font-style: italic;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }
} .u-section-5 {
  min-height: 1352px;
}

.u-section-5 .u-text-1 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 61px calc(((100% - 1140px) / 2) + 101px) 0;
}

.u-section-5 .u-shape-1 {
  width: 616px;
  height: 616px;
  margin: 51px auto 0 calc(((100% - 1140px) / 2) + -52px);
}

.u-section-5 .u-shape-2 {
  width: 544px;
  height: 510px;
  margin: -305px calc(((100% - 1140px) / 2) + -52px) 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -767px auto 60px;
}

.u-section-5 .u-image-1 {
  min-height: 426px;
  background-image: url("images/t.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 30px 0;
}

.u-section-5 .u-text-3 {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-image-2 {
  width: 320px;
  height: 180px;
  margin: 24px auto 0 117px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 280px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  width: 255px;
  height: 232px;
  margin: 15px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 280px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 292px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin: 15px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 323px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-5 .u-image-4 {
  width: 275px;
  height: 206px;
  margin: 36px 0 0 auto;
}

.u-section-5 .u-image-5 {
  min-height: 383px;
  background-image: url("images/w3-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1228px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 1px);
    margin-right: calc(((100% - 940px) / 2) + 1px);
  }

  .u-section-5 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + -52px);
  }

  .u-section-5 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + -52px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 351px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 231px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-3 {
    width: 235px;
    height: 214px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 227px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 241px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 266px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-4 {
    width: 235px;
    height: 176px;
  }

  .u-section-5 .u-image-5 {
    min-height: 316px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 846px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + -52px);
  }

  .u-section-5 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + -52px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 538px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 407px;
  }

  .u-section-5 .u-image-5 {
    min-height: 484px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 770px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
    height: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-shape-2 {
    margin-top: -229px;
    margin-right: calc(((100% - 540px) / 2) + -52px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 404px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 611px;
  }

  .u-section-5 .u-image-5 {
    min-height: 363px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 570px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-shape-2 {
    width: 340px;
    margin-top: -29px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 254px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 385px;
  }

  .u-section-5 .u-image-5 {
    min-height: 229px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 622px;
}

.u-section-6 .u-shape-1 {
  width: 904px;
  height: 452px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-family: "Archivo Black";
  font-size: 3rem;
  margin: -382px 95px 0;
}

.u-section-6 .u-text-2 {
  width: 424px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1138px;
  margin: 37px auto 60px 1px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 346px;
  grid-gap: 30px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-group-1 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-text-5 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-group-3 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 0;
}

.u-section-6 .u-text-7 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-group-4 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 0;
}

.u-section-6 .u-text-9 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.75rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 2.75rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 2.75rem;
  }

  .u-section-6 .u-text-9 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-6 .u-shape-1 {
    width: 720px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-bottom: -158px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-6 .u-shape-1 {
    width: 710px;
    height: 283px;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -213px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -171px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-6 .u-shape-1 {
    width: 726px;
    margin-left: -193px;
    margin-right: -193px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -252px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-9 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-7 .u-group-1 {
  width: 710px;
  min-height: 601px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px 0 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 40px 30px 195px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.u-section-7 .u-form-1 {
  width: 447px;
  margin: 20px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-7 .u-text-2 {
  margin: 41px 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 698px;
  margin: -482px auto 0 0;
}

.u-section-7 .u-list-1 {
  width: 976px;
  margin: -119px 28px 60px auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 162px;
  grid-gap: 0px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 45px 30px 15px;
}

.u-section-7 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 0 0 40px;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 45px 30px 15px;
}

.u-section-7 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 0 0 40px;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 45px 30px 15px;
}

.u-section-7 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 0 0 40px;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 235px;
  }

  .u-section-7 .u-image-1 {
    width: 443px;
    height: 607px;
    margin-top: -469px;
  }

  .u-section-7 .u-list-1 {
    width: 880px;
    height: auto;
    margin-top: -40px;
    margin-right: 0;
    margin-bottom: 44px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 55px;
    padding-bottom: 25px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: -20px;
    margin-left: 49px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 55px;
    padding-bottom: 25px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: -20px;
    margin-left: 49px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 55px;
    padding-bottom: 25px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: -20px;
    margin-left: 49px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-7 .u-group-1 {
    width: 509px;
    min-height: 620px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
  }

  .u-section-7 .u-image-1 {
    width: 431px;
    height: 511px;
    margin-top: -49px;
  }

  .u-section-7 .u-list-1 {
    width: 692px;
    margin-top: -39px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1588px;
  }

  .u-section-7 .u-group-1 {
    width: 473px;
    min-height: 616px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-form-1 {
    width: 433px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 420px;
    height: 497px;
    margin-top: -31px;
  }

  .u-section-7 .u-list-1 {
    width: 301px;
    margin-top: -192px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1614px;
  }

  .u-section-7 .u-group-1 {
    min-height: 585px;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
  }

  .u-section-7 .u-image-1 {
    height: 403px;
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-list-1 {
    margin-top: -101px;
    margin-right: auto;
    margin-bottom: 55px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 15px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 15px;
  }
}